@import '~antd/dist/reset.css';
@import './vars.scss';

.ant-typography:not(.reset) {
  margin: 0 !important;
}

//button
.ant-btn {
  border: none !important;
  box-shadow: none !important;
}
.ant-btn-primary {
  background-color: $PRIMARY;
  color: $BLACK !important;
  &:hover {
    background: $PRIMARY_HOVER !important;
    color: $BLACK !important;
  }
}

.ant-btn-default {
  background-color: unset;
  color: $WHITE !important;
  border: 1px solid $WHITE !important;
  &:hover {
    background: unset;
    color: $WHITE !important;
  }
}
.ant-btn-primary:disabled {
  background-color: #97928a !important;
}

//card
.ant-card {
  box-shadow: none !important;
}

.card-info {
  background-color: #191919 !important    ;
  box-shadow: 0px 4px 60px rgba(20, 244, 250, 0.12) !important;
  border: 1px solid #eab15a !important;
  backdrop-filter: blur(96px) !important;
  color: #fff !important;
  position: relative;
}

//breadcrumb
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
  color: $WHITE !important;
}

//modal
.ant-modal-content {
  background-color: #191919 !important;
  box-shadow: 0px 4px 60px rgba(20, 244, 250, 0.12) !important;
  border: 1px solid #eab15a !important;
  backdrop-filter: blur(96px) !important;
  color: #fff !important;
  position: relative;
  .ant-modal-confirm-title,
  .ant-modal-confirm-content{
    color: $WHITE;
  }
}

//step
.ant-steps {
  .ant-steps-item-wait {
    .ant-steps-item-icon {
      background-color: #97928a !important;
      .ant-steps-icon {
        color: $BLACK !important;
      }
    }
  }
  .ant-steps-item-finish {
    .ant-steps-item-icon {
      background-color: $PRIMARY !important;
      border-color: $PRIMARY !important;
      .ant-steps-icon {
        color: $BLACK !important;
      }
    }
  }
  .ant-steps-item-active {
    .ant-steps-item-icon {
      background-color: $PRIMARY !important;
      border-color: $PRIMARY !important;
      .ant-steps-icon {
        color: $BLACK !important;
      }
    }
  }
  .ant-steps-item-content {
    .ant-steps-item-title {
      color: $WHITE !important;
      &::after {
        background-color: $WHITE !important;
      }
    }
  }
}

//input
.ant-input {
  background-color: inherit;
  color: $WHITE;
  &:focus {
    border-color: $PRIMARY !important;
  }
  &::placeholder {
    color: #97928a;
  }
  &:hover {
    border-color: $PRIMARY !important;
  }
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #eab15a !important;
}

.ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #fff !important;
}

.ant-steps-item-description {
  color: #888 !important;
}
//image
.ant-image {
  width: 100%;
}

//time-picker
.ant-picker {
  background-color: inherit;
  &:hover {
    border-color: $PRIMARY !important;
    .ant-picker-clear {
      background-color: inherit;
    }
  }
  .ant-picker-input > input {
    color: $WHITE;
  }
  .ant-picker-suffix {
    color: $WHITE;
  }
}
//empty-icon
.ant-empty-normal {
  .ant-empty-description {
    color: $WHITE;
  }
}

// upload file
.ant-upload-wrapper{
  display: flex;
  flex-direction: column;
  &:has(.ant-upload-list-item-container){
    .ant-upload-drag{
      display: none;
    }
    .ant-upload-list{
      background-color: rgba(255, 255, 255, 0.15);
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      .ant-upload-list-item{
        margin-top: 0;
      }
    }
  }
}

.ant-upload-list-item{
  &:hover{
    .ant-upload-list-item-actions svg{
      color: $WHITE !important;
    }
  }
  .ant-upload-icon .anticon,
  .ant-upload-list-item-name{
    color: $WHITE !important;
  }
  
}

//table
.table-container{
  border: 1px solid $WHITE;
  color: $WHITE;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .ant-card-body{
    padding: 0;
    .ant-row{
      row-gap: 0;
    }
    flex-wrap: nowrap;
  }
  .table-header{
    border-bottom: 1px solid $WHITE;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px;
  }
  .table-item{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px;
  }
}
