@import './antd.scss';
@import './typo.scss';

html {
  scroll-behavior: smooth;
  font-synthesis: none;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  color: $WHITE;
  background-color: $BLACK;
}

.banner {
  position: relative;
  background-image: url('/hero.png');
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: border-box;
  background-attachment: fixed;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn-wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $PRIMARY;
  padding: 0.3rem 1.2rem;
  border-radius: 0.6rem;
}

.ant-upload-wrapper {
  width: 100% !important;
  height: 100% !important;
  .ant-upload-drag {
    height: 100% !important;
    &:hover {
      border-color: $PRIMARY !important;
    }
  }
}

.ant-switch-checked{
  background-color: $PRIMARY !important;
  &:hover{
    background-color: $PRIMARY_HOVER !important;
  }
}

// avatar upload
.avatar-uploader{
  width: 40px !important;
  height: 40px !important;
  gap: 0;
  .ant-upload-drag{
    border-radius: 100%;
  }
  .ant-upload .ant-upload-btn{
    padding: 0;
  }
}

.avatar-uploaded {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  .remove-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none !important;
    z-index: 1;
  }
  &:hover {
    .avatar {
      opacity: 0.5 !important;
    }
    .remove-icon {
      display: block !important;
    }
  }
}