@import './vars.scss';

.caption {
  font-size: 12px !important;
}

.ant-typography {
  color: $WHITE;
}

h1.ant-typography {
  font-weight: 900 !important;
  font-size: 72px;
  color: $WHITE;
}

h2.ant-typography {
  font-weight: 700 !important;
  font-size: 54px;
  color: $WHITE;
}

h3.ant-typography {
  font-weight: 600 !important;
  font-size: 36px;
  color: $WHITE;
}

h4.ant-typography {
  font-weight: 500 !important;
  font-size: 24px;
  color: $WHITE;
}

h5.ant-typography {
  font-weight: 500 !important;
  color: $PRIMARY;
}
