$BRAND: #EAB15A;
$PRIMARY: #EAB15A;
$PRIMARY_HOVER: #eba336;

$BG_LIGHT: #f8f7fa;
$TRANSPARENT: transparent;

$WHITE: #fff;
$BLACK: #000;

$NEUTRAL05: #f3f3f3;
$NEUTRAL10: #e7e7e8;
$NEUTRAL20: #cfcfd0;
$NEUTRAL40: #a0a0a1;
$NEUTRAL60: #707072;
$NEUTRAL80: #404043;
$NEUTRAL90: #28282c;
$NEUTRAL95: #1c1c20;
$NEUTRAL100: #111014;

$PURPLE: #e3b4fa;
$RED: #df6a70;
$ORANGE: #f59d7f;
$BLUE: #8cc8fa;
$GREEN: #caf99c;
$CYAN: #a2f0eb;
