.campaigns-card {
  position: relative !important;
  border-radius: 8px !important;
  border: solid 2px #ffcd75;
  cursor: pointer;
  .campaigns-card-tags {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
  }

  .campaigns-card-body {
    min-height: 200px;
    background: #eee5d8;
    .owner {
      padding: 8px;
      background: rgba(8, 20, 56, 0.1);
      border-radius: 50%;
      font-size: 24px;
      color: #081438 !important;
    }
  }
}

.end-time-progress {
  .ant-progress-inner {
    width: 22px !important;
    height: 22px !important;
  }
  .ant-progress-text {
    font-size: 10px !important;
  }
}
